.nggo_box {
    border:1px solid #EEE;
    background-color:#FAFAFA;
    padding:0px 15px 15px 15px;
    margin:0 0 15px 0
}

.nggo_select_style, .nggo_custom_style {
    float:left
}

.nggo_custom_style {
    margin-left:20px;
    border-left:1px solid #EEE;
    padding-left:20px
}

.nggo_inner {
    padding:0 0 15px 0
}

.button-primary {
    margin:0
}