/**
 * NextGEN Gallery Optimizer Basic
 *
 * Optimizer improves your site's page load speed by preventing NextGEN's
 * scripts and stylesheets from loading on pages without galleries.
 *
 * What's more, if you're using the original NextGEN Gallery (v1.x.xx) or the
 * NextCellent Gallery fork, Optimizer will intelligently fine-tune all your
 * *gallery* pages too... detecting every shortcode and setting to only load
 * what's necessary.
 *
 * For a full overview of the optimization process, please see...
 * http://www.nextgengalleryoptimizer.com/optimization-flowchart/
 *
 * Optimizer also includes an *enhanced* version of the fantastic Fancybox
 * lightbox script, and only loads it on gallery pages. The result? Gorgeous
 * galleries *and* a speedy site.
 *
 * Now supports NextGEN 2.0, NextGEN Legacy and the NextCellent Gallery fork.
 *
 * Upgrade to Optimizer Pro for the new "NextGEN Gallery Deactivator" feature.
 * A whole new level of speed optimization that only loads NextGEN’s *code* on
 * gallery pages.
 * http://www.nextgengalleryoptimizer.com/#nextgen-gallery-deactivator
 *
 * Upgrade to Optimizer Pro for the new "Dynamic Fancybox Settings Interface".
 * The fastest and easiest way to customize Fancybox. Set title styles,
 * background color and opacity, make Fancybox responsive and more.
 * http://www.nextgengalleryoptimizer.com/#dynamic-fancybox-settings-interface
 *
 * For more information, please see the following...
 * http://www.nextgengalleryoptimizer.com
 * http://www.nextgengalleryoptimizer.com/documentation/
 * http://www.nextgengalleryoptimizer.com/purchase/
 *
 * @package		NextGEN_Gallery_Optimizer_Basic
 * @author		Mark Jeldi | Helpful Media <http://www.nextgengalleryoptimizer.com/contact/>
 * @link				http://www.nextgengalleryoptimizer.com
 * @copyright	2012 - 2014 Mark Jeldi | Helpful Media
 */

/**
 * Admin Settings Page CSS
 *
 * @package		NextGEN_Gallery_Optimizer_Basic
 * @author		Mark Jeldi | Helpful Media <http://www.nextgengalleryoptimizer.com/contact/>
 * @link				http://www.nextgengalleryoptimizer.com
 * @copyright	2012 - 2014 Mark Jeldi | Helpful Media
 * @since 			2.0.0
 */

.nggobasic-select-style, .nggobasic-custom-style {
    float: left;
}

.nggobasic-custom-style {
    margin-left: 20px;
    border-left: 1px solid #EEE;
    padding-left: 20px
}

.nggobasic-box {
	background-color: #ddd;
	color: #333;
	margin: 15px 0 20px;
	padding: 12px 25px 25px;
}

.nggobasic-box h2 {
	color: #333;
	margin: 0 0 10px;
}

.nggobasic-inner {
	padding: 25px 0 0;
}

.nggobasic-optimization-description {
	color: #333;
	font-style: italic;
}

/**
 * Advanced settings
 */
 
#nggobasic-nextgen-v1-advanced-settings,
#nggobasic-nextgen-v2-advanced-settings {
	display: none;
}

#nggobasic-nextgen-v2-advanced-settings-inner {
	padding: 20px 0 0;
}

#nggobasic-optimization-header-box {
	padding: 12px 15px;
	background-color: #0074A2;
	color: #fff;
}

#nggobasic-optimization-description-box {
	padding: 12px 15px 15px;
	background-color: #f1f1f1;
}

#nggobasic-optimization-description-box a {
	font-weight: bold;
	font-style: italic;
}

.nggobasic-optimization-title-box {
	padding: 12px 15px;
	margin: 20px 0 0;
	background-color: #0074A2;
	color: #fff;
}

.nggobasic-optimization-options-box {
	padding: 18px 20px 5px;
	background-color: #f1f1f1;
}

.nggobasic-optimization-option {
	padding: 0 0 15px 0;
}

#nggobasic-dfsi-box, #nggobasic-deactivator-box {
	background-color: #222;
	color: #fff;
	margin: 20px 0 0;
	padding: 12px 25px 25px;
}

#nggobasic-dfsi-box h2, #nggobasic-deactivator-box h2 {
	color: #ccc;
	margin: 0 0 10px;
}

#nggobasic-dfsi-description, #nggobasic-deactivator-description {
	color: #999;
	font-style: italic;
	display: block;
	padding: 0 0 20px;
}

#nggobasic-save-box {
	background-color: #ddd;
	padding: 25px;
	margin: 20px 0 20px;
}